.msg {
  width: calc(29% - 40px);
  height: 100vh;
  max-height: 640px;
  padding: 0 24px 80px 24px;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;

  &__title {
    margin: 0;
    max-width: 270px;
    font: var(--font-p-32-100-700);
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    max-width: 284px;
    font: var(--font-p-14-100-400);
    text-align: center;
  }
}
